<head>
    <link rel="stylesheet" href="button.css">
</head>


<!-- Primary button -->

<button class="button-primary">
    Click Me
</button>

<!-- link button -->

<a href="https://neog.camp/" class="button-link">
    Go to a cool place
</a>

<!-- icon button -->

<img src="drivedocument.svg" alt="" class="icon button-icon">

<!-- floating action button -->

<button class="button-floating">
    <img src="https://img.icons8.com/material-outlined/24/000000/plus-math--v1.png" class="floating-img"/>
</button>