<!-- Avatars default - different Sizes -->

<div class="avatar-xl-box">
    <img src="avatar.jfif" alt="" class="avatar-xl">
</div>

<div class="avatar-l-box">
    <img src="avatar.jfif" alt="" class="avatar-l">
</div>

<div class="avatar-s-box">
    <img src="avatar.jfif" alt="" class="avatar-s">
</div>

<div class="avatar-xs-box">
    <img src="avatar.jfif" alt="" class="avatar-xs">
</div>

<!-- Avatars with Status -->

<div class="avatar-xl-box online">
    <img src="avatar.jfif" alt="" class="avatar-xl">
</div>

<div class="avatar-l-box offline">
    <img src="avatar.jfif" alt="" class="avatar-l ">
</div>

<div class="avatar-s-box sleep">
    <img src="avatar.jfif" alt="" class="avatar-s">
</div>