<head>
    <link rel="stylesheet" href="cards.css">
</head>


<!-- vertical card -->

<div class="card-vertical">
    <img src="sasukedrip.jfif" alt="" class="card-img-vertical">
    <h4 class="card-heading">Radiation Hoodie</h4>
    <h5 class="card-heading-2">Hidden Leaf Drip</h5>
    <p class="price">$30</p>
    <div class="addtocart">Add To Cart</div>


</div>

<!-- horizontal card -->

<div class="card-horizontal">

    <img src="sasukedrip.jfif" alt="" class="card-img-horizontal">
    <div class="card-horizontal-right-section">
        <h4 class="card-heading">Radiation Hoodie</h4>
        <h5 class="card-heading-2">Hidden Leaf Drip</h5>
        <p class="price">$30</p>
        <div class="addtocart-horizontal">Add To Cart</div>
    </div>
    
</div>

<!-- vertical and horizontal with badge -->

<div class="card-vertical">
    <img src="sasukedrip.jfif" alt="" class="card-img-vertical">
    <h4 class="card-heading">Radiation Hoodie</h4>
    <h5 class="card-heading-2">Hidden Leaf Drip</h5>

    <p class="price">$30</p>

    <div class="addtocart">Add To Cart</div>
    <div class="card-badge">Best Seller</div>

    </div>

    <div class="card-horizontal">
        <img src="sasukedrip.jfif" alt="" class="card-img-horizontal">
        <div class="card-horizontal-right-section">
            <h4 class="card-heading">Radiation Hoodie</h4>
            <h5 class="card-heading-2">Hidden Leaf Drip</h5>
            <p class="price">$30</p>
            <div class="addtocart-horizontal">Add To Cart</div>
        </div>
        <div class="card-badge">Best Seller</div>
    </div>