<head>
    <link rel="stylesheet" href="badge.css">
</head>


<!-- Badge on avatars -->

<div class="avatar-xl-box ">
    <img src="avatar.jfif" alt="" class="avatar-xl">
    <div class="badge">99</div>
</div>

<div class="avatar-l-box ">
    <img src="avatar.jfif" alt="" class="avatar-l ">
    <div class="badge">5</div>
</div>

<div class="avatar-s-box ">
    <img src="avatar.jfif" alt="" class="avatar-s">
    <div class="badge">99</div>
</div>

<!-- Badge on Icons-->

<div class="icon-box">
    <img src="materialdesign.svg" alt="" class="icon">
    <div class="badge">5</div>
</div>

<div class="icon-box">
    <img src="drivedocument.svg" alt="" class="icon">
    <div class="badge">99</div>
</div>