.text-box{
    border: 1px solid rgb(56, 66, 214);
    padding: 1rem;
    background-color: rgb(198, 255, 255);
}

H1{
    font-size: 3.5rem;
}

H2{
    font-size: 2.5rem;
}

H3{
    font-size: 2rem;
}

H4{
    font-size: 1.5rem;
}

H5{
    font-size: 1rem;
}

.grey-text{
    color: rgb(153, 153, 153);
}

.centered-text{
    text-align: center;
    width: 100%;
}